<div id="markerBoxPreview">
  <div class="markerLabel">
    <div class="markerContent">
      <h1 class="cardTitle">
        <a href="http://www.apple.com/retail/crossgates/" target="_blank" class="marker " rel="nofollow">Apple Store
          Cross Gates</a>
      </h1>
      <div class="markerSub">
        <div class="markerImage">
          <a href="http://www.apple.com/retail/crossgates/" target="_blank" class="marker " rel="nofollow">
            <img class="descIMG" src="https://batchgeo.com/images/logo-batchgeo-icon-only.png" valign="top" vspace="5"
              hspace="1">
          </a>
        </div>

        <div class="markerDetails">
          <div class="address">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=1%20Crossgates%20Mall%20Road%20Albany%2C%20NY%2012203%20United%20State"
              target="_blank" class="directions-link" title="Open in Google Maps" rel="nofollow" id="markerAddress">
              1 Crossgates Mall Road<br>Albany, NY 12203 United State</a>
          </div>

          <div><span class="l">Phone Number:</span>&nbsp;<a href="tel:(518) 869-3192">(518) 869-3192</a></div>
          <div><span class="l">Group:</span>&nbsp;Example Group 1</div>
          <div><span class="l">Email:</span>&nbsp;<a href="mailto:steve.jobs@apple.com">steve.jobs@apple.com</a></div>
        </div>
      </div>
    </div>
  </div>
</div>